<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mark</key>
	<string>可以在list中添加shell命令，命令执行顺序：先加入先执行</string>
	<key>mark2</key>
	<string>如果一个任务有多个命令可直接用；分割开</string>
	<key>sudo命令同时输入密码方式2：其中123是用户密码</key>
	<string>sudo -S sntp -sS 182.92.12.11 &lt;&lt; EOF
123
EOF</string>
	<key>sudo命令同时输入密码方式1：其中123是用户密码</key>
	<string>echo &quot;123&quot; | sudo -S sntp -sS 182.92.12.11</string>
	<key>list</key>
	<array>
		<string>ssh-add ~/.ssh/ctsfork-GitHub</string>
		<string>ssh-add ~/.ssh/RANSAA-GitHub</string>
		<string>echo 1; echo 2</string>
	</array>
</dict>
</plist>
