<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mark</key>
	<string>可以直接修改shell以支持不同的命令</string>
	<key>shell</key>
	<string>ssh-add ~/.ssh/RANSAA-GitHub</string>
</dict>
</plist>
